body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #9acbff; /* Bootstrap primary color */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.language-switcher .btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.language-switcher {
    margin-left: 200px; /* Add margin to the left to create distance */
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add this to your styles.css file */
#title {
    font-size: 2rem; /* Increase the font size */
    color: white; /* Set the text color */
    padding: 2rem; /* Add more padding */
    text-align: center; /* Center the text */
    z-index: 10; /* Ensure it is above other elements */
    position: relative; /* Ensure z-index works */
    margin-top: 20px; /* Add margin to the top to create space below the navbar */
    margin-bottom: -30px; /* Add margin to the bottom to create space above the content */
}

#gallery {
    background-color: #e6e6fa; /* Lavender */
}

#info {
    background-color: #fafad2; /* Light goldenrod yellow */
}

#booking {
    background-color: #98fb98; /* Pale green */
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image is visible without distortion */
}

footer {
    background-color: #9acbff !important;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.pagination-controls button {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.slider-img {
    max-height: 700px;
    width: auto;
    object-fit: cover;
}

#gallery {
    display: none;
}

.nav-link {
    font-size: 1.3rem; /* Change to your desired font size */
    color: #333; /* Optional: Change the text color */
}

